@import "./variables.scss";  
  
.center-wrapper{
  background-color: $teal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-footer{
  height: 200px;
  background-color: $charcoal;
}